문제 1

In [2]:
name = "김도영"
age = 28

name, age

('김도영', 28)

문제 2

In [3]:
height = 172
dream = "코딩 고수가 될거야~"

height, dream

(172, '코딩 고수가 될거야~')

### **문제 3**

변수에 담긴 값을 다른 변수에 대입하는 연습을 해봅시다.

1. `city`라는 변수에 **당신이 살고 있는 도시 이름**을 문자열로 저장하세요.

1. `my_city`라는 변수에 `city` 변수의 값을 대입하세요.
2. 두 변수를 각각 `print()`로 출력해보세요.

In [5]:
city = "서울시"
my_city = city

print(city)
print(my_city)

서울시
서울시

### **문제 4**

다음과 같은 규칙에 맞는 변수를 작성하세요.

1. **사과의 개수**를 나타내는 변수를 `apple_count`로 선언하고 숫자 `10`을 저장하세요.
    
    ---
    
2. **오렌지의 개수**를 나타내는 변수를 `orange_count`로 선언하고 숫자 `20`을 저장하세요.
3. 두 변수를 출력해보세요.

In [7]:
apple_count = 10
orange_count = 20

apple_count, orange_count

(10, 20)

### **문제 5**

다음과 같은 규칙을 지켜 변수를 작성하세요.

1. 변수 이름은 **스네이크 케이스**를 따릅니다.
2. `first_name`에 **당신의 이름의 첫 글자**를 문자열로 저장하세요.
3. `last_name`에 **당신의 성**을 문자열로 저장하세요.

1. `full_name` 변수에 `first_name`과 `last_name`을 이어붙여서 저장하세요.
2. `print()`를 사용해 `full_name`을 출력해보세요.

In [ ]:
first_name = "도영"
last_name = "김"
full_name = (last_name + first_name)

print(full_name)

김도영