In [ ]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']

print(fruits)
print(fruits[0])

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
orange

In [3]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']

number = 100
mod6 = number % 6 - 1

print(fruits)
print(fruits[mod6])

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
banana


[] 대괄호 이외로도 리스트를 임의로 생성할 수 있다
이 때 .split 메서드를 활용해 괄호 안에 넣은 문자를 기준으로 리스트를 구분한다

In [32]:
rainbow_split = "오-목-교-역"

print(rainbow_split[0])

print(rainbow_split.split('-'))

오
['오', '목', '교', '역']

In [4]:
list1 = []
list2 = list()

print(list1 == list2)   
print(type(list1))       
print(type(list2))

True
<class 'list'>
<class 'list'>

In [30]:
list3 = list('hello') 
print(list3)

['h', 'e', 'l', 'l', 'o']

리스트끼리 더하거나 곱하는 종류의 연산도 가능하다

In [34]:
safari_list = ["Bear", "Koala", "Gorilla", "Squirrel"]
another_safari_list = ["Monkey", "Tiger", "Wolf"]

print(safari_list + another_safari_list)

['Bear', 'Koala', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf']

In [43]:
safari_list = ["Bear", "Koala", "Gorilla", "Squirrel"]

print(safari_list * 4)

['Bear', 'Koala', 'Gorilla', 'Squirrel', 'Bear', 'Koala', 'Gorilla', 'Squirrel', 'Bear', 'Koala', 'Gorilla', 'Squirrel', 'Bear', 'Koala', 'Gorilla', 'Squirrel']

count 메서드를 이용해 리스트 중 해당 원소가 몇 개인지 셀 수 있다.

In [45]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']

print(("apple:"), fruits.count("apple"))

print("pineapple:", fruits.count("test"))

apple: 2
pineapple: 0

index 메서드를 이용해 리스트 중 원소의 순서를 파악할 수 있다.

In [50]:
print("index:", fruits.index("apple"))

print("index:", fruits.index("apple", 3)) #세번째 인덱스부터 스타트해서 찾는다는 의미(pear부터)

index: 1
index: 5

reverse 메서드를 이용해 리스트의 각 원소를 역으로 정렬할 수 있다.

reverse 메서드는 순서를 뒤집는 행위일 뿐, 결과를 직접 출력하지 않는다

따라서 print(fruits.reverse()) 는 실행 시 none이 출력된다. 

왜냐하면 fruits.reverse 자체는 리스트가 아니라 메서드 명령어이기 때문이다.

In [55]:
print(fruits.reverse())

fruits.reverse()

print(fruits)

None
['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

reversed **함수**를 사용해 리스트를 각 원소를 역으로 정렬할 수 있다.

In [65]:
list = [1, 2, 3]
list2 = reversed(list)

print(list)

[1, 2, 3]

append 메서드를 통해 원소를 하나 추가 할 수 있다.

In [68]:
fruits.append("pineapple")
print(fruits)

['pineapple', 'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'rainbow friut', 'sweet lemon', 'happy apple', 'pineapple', 'pineapple']

extend 메서드를 이용해 원소를 하나 이상 추가 할 수 있다.

이 때 집합인 채로 받는 것이 아니라 각 원소를 풀어서 받는다고 이해할 수 있다.

In [69]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']

In [70]:
fruits.extend(['rainbow friut', 'sweet lemon', 'happy apple'])
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'rainbow friut', 'sweet lemon', 'happy apple']

insert 메서드를 이용해 원소 하나를 원하는 index 위치에 추가할 수 있다.

이 때 해당 원소는 지정한 인덱스의 자리가 되는 것이다.

In [71]:
fruits.insert(0, 'monkey banana')
print(fruits)

['monkey banana', 'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'rainbow friut', 'sweet lemon', 'happy apple']

sort 메서드를 이용해 리스트의 원소를 정렬할 수 있다.

In [ ]:
fruits.sort()
print(fruits)

# 괄호를 빈칸으로 유지할 경우 오름차순(알파벳 순서) 정렬

fruits.sort(reverse = True)
print(fruits)

fruits.sort(key=len)
print(fruits)

fruits.sort(key=lambda x:(len(x),x))
print(fruits)

# 매개변수로 다양한 옵션을 주어 다른 기준으로 정렬할 수 있다.

['apple', 'apple', 'banana', 'happy apple', 'kiwi', 'monkey banana', 'orange', 'pear', 'rainbow friut', 'sweet lemon']
['sweet lemon', 'rainbow friut', 'pear', 'orange', 'monkey banana', 'kiwi', 'happy apple', 'banana', 'apple', 'apple']
['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'sweet lemon', 'happy apple', 'rainbow friut', 'monkey banana']
['kiwi', 'pear', 'apple', 'apple', 'banana', 'orange', 'happy apple', 'sweet lemon', 'monkey banana', 'rainbow friut']

remove 메서드를 이용해 값에 해당하는 요소를 삭제할 수 있다.

In [77]:
fruits.remove("kiwi")

print(fruits)

['pear', 'apple', 'apple', 'banana', 'orange', 'happy apple', 'sweet lemon', 'monkey banana', 'rainbow friut']

In [81]:
list = [1, 3, 2]
list2 = sorted(list)

print(list)
print(list2)

[1, 3, 2]
[1, 2, 3]

pop 메서드를 활용해 요소를 추출하면서 제거할 수 있다.

괄호 안을 비워둘 경우 마지막 요소를 추출한다.

In [83]:
temp = fruits.pop(0)

print(temp)

print(fruits)

pear
['apple', 'apple', 'banana', 'orange', 'happy apple', 'sweet lemon', 'monkey banana']

Stack 자료 구조는 FILO, 선입후출의 특징을 가진다

이러한 특징은 append와 pop 메서드에서 잘 관찰할 수 있을 것이다.

In [85]:
plates = ['plate1', 'plate2']

plates.append('plate3')
plates.append('plate4')

print(plates)

['plate1', 'plate2', 'plate3', 'plate4']

In [86]:
print(plates.pop())    
print(plates)          
print(plates.pop())    
print(plates.pop())    
print(plates)

plate4
['plate1', 'plate2', 'plate3']
plate3
plate2
['plate1']

del 키워드를 통해 원본 배열의 일부 요소 또는 전체 목록을 제거할 수 있다.

In [ ]:
abclist = ['A','B','C','D','E','F']
print(abclist)    # ['A', 'B', 'C', 'D', 'E', 'F']

del abclist[0]    # 0번째 인덱스의 요소 제거
print(abclist)    # ['B', 'C', 'D', 'E', 'F']

del abclist[1:3]  # [시작 : 끝-1]
print(abclist)    # ['B', 'E', 'F']

del abclist[:]    # 모든 요소 제거
print(abclist)    # []

['A', 'B', 'C', 'D', 'E', 'F']
['B', 'C', 'D', 'E', 'F']
['B', 'E', 'F']
[]

del 키워드를 이용해 리스트 자체를 삭제할 수도 있다.

In [88]:
del abclist
print(abclist)

NameError: name 'abclist' is not defined

디큐(dobule-ended queue, 양방향 큐)를 이용해 양쪽 끝에서 자료 삽입, 삭제가 가능하다.

In [91]:
from collections import deque

qq = deque()

qq.append("a")
qq.append("b")
qq.append("c")

print(qq)

deque(['a', 'b', 'c'])

In [92]:
qq.appendleft('x')
print(qq)

deque(['x', 'a', 'b', 'c'])

여러 개의 값을 하나의 데이터 구조로 묶어서 관리할 수 있는 불변(immutable) 시퀀스이다. 리스트와 유사하지만, 한번 생성되면 각 요소 값을 생성하거나 수정, 삭제할 수 없다. 주로 데이터의 집합을 안전하게 유지하거나, 함수에서 여러 값을 반환할 때 사용된다.

In [94]:
# 튜플의 요소는 리스트와는 달리 대괄호가 아니라 소괄호를 사용해 표현한다.

tupl = (1, 2, 'hello'), ('test', 1,2,3,4)
print(tupl)          
print(tupl[0])      
print(tupl[0][0])    
print(tupl[1][0])
# 집합 내부의 집합을 원소로 취급할지, 집합으로 취급할지 선택할 수 있는 것처럼 보인다.

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
(1, 2, 'hello')
1
test

소괄호로 감싸지 않아도, 하나의 변수에 여러 개의 값을 할당함으로써 튜플을 생성할 수 있다.

In [115]:
x1 = 1, 2, 3
print(x1)
print(id(x1))

x = 2, 3, 4
print(x)
print(id(x))

print(type(x1))

(1, 2, 3)
2789951301376
(2, 3, 4)
2789951291696
<class 'tuple'>

튜플 요소의 변경이 아닌 튜플 간 연산은 가능하다.

In [110]:
print(x1 + x)

print(x * 3)

print(len(x + x1))

(1, 2, 3, 2, 3, 4)
(2, 3, 4, 2, 3, 4, 2, 3, 4)
6

In [121]:
x,y,z = 1,2,3
print(x, y, z)

print(type(x))

1 2 3
<class 'int'>

In [114]:
x,y = y,x
print(x, y)

2 1

인덱싱이란 시퀀스 자료형의 인덱스를 활용해 특정 요소를 추출하는 것을 의미한다.

In [ ]:
teamname = "ruby dango"

print(teamname[5])

# 0번부터 세고, 공백도 순서의 일부로 취급한다.

d

In [134]:
location = ['서울', '부산', "대구", "대전", "광주"]

print(location[4])
print(location[-2])
print(location[-5])

# 음의 정수를 지정하면 끝에서부터 찾는다. 이 때 시작점은 -1로 취급한다.

광주
대전
서울

슬라이싱은 인덱스와 유사하지만 한 개 이상의 자료를 추출하는 데에 사용된다.

In [136]:
address = '대한민국 서울시 서초구'

print(address[5:7])

서울

In [149]:
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']

print(location[2:5])
print(location[2:])

['인천광역시', '광주광역시', '울산광역시']
['인천광역시', '광주광역시', '울산광역시']

In [ ]:
address = '대한민국 서울시 서초구'

print(address[9:])
print(address[-3:])
print(address[1:12:4]) 

"""
한서서 (1번 인덱스부터 12번 인덱스 전까지 추출하는데 4개씩 건너뛰면서 추출)
이 경우에는 1번, 5번, 9번 인덱스에 해당하는 자료가 추출되었다.
"""

print(address[::-1]) #슬라이싱을 이용해 [::-1]을 주면 문자열 뒤집기

서초구
서초구
한서서
구초서 시울서 국민한대
['광주광역시', '울산광역시']

In [172]:
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']

print(location[3:5])
print(location[-4:5])
print(location[1:5:2])
print(location[2::-1])

['광주광역시', '울산광역시']
['부산광역시', '인천광역시', '광주광역시', '울산광역시']
['부산광역시', '광주광역시']
['인천광역시', '부산광역시', '서울특별시']

in 함수를 이용해 시퀀스 자료 내부에 찾고자 하는 자료가 있는지 확인 할 수 있다.

In [177]:
print('대한민국' in address)       # True
print('국민한대' in address)       # False
print('서울시서초구' in address)    # False, 띄어쓰기가 없다.

print('광주광역시' in location)                   # True
print(['광주광역시', '부산광역시'] in location)    # False
print(['서울특별시', '부산광역시'] in location)    # False

"""
['광주광역시', '부산광역시']에 대한 in 함수 사용시 false가 출력되는 이유는 앞의 것이
하나의 원소로 취급되기 때문이다.
"""

nation = ('대한민국', '미국', '중국', '일본', '프랑스', ('대한민국', '미국'))
print('미국' in nation)                 # True
print(('대한민국', '미국') in nation)
print(nation[5][1])

True
False
False
True
False
False
True
True
미국

len() 함수를 이용해 시퀀스 자료의 길이가 얼마나 되는지 파악할 수 있다.

In [184]:
# 문자열
address = '대한민국 서울시 서초구'
print(len(address))    # 12

# 리스트
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print(len(location))    # 5

# 튜플
nation = ('대한민국', '미국', '중국', '일본', '프랑스')
print(len(nation))    # 5

"""
문자열의 경우는 몇 개의 문자로 이루어져 있는지를 세며,
리스트와 튜플의 경우는 원소의 개수를 센다.
"""

12
5
5

'\n문자열의 경우는 몇 개의 문자로 이루어져 있는지를 세며,\n리스트와 튜플의 경우는 원소의 개수를 센다.\n'