파이썬의 숫자형 자료는 세 가지로 구분된다. 

1. int : 정수 값

2. float : 실수 값

3. complex : 복소수 값

In [8]:
num1 = 1
num2 = 1.1
num3 = 1 + 2j

print(type(num1))
print(type(num2))
print(type(num3))

#위의 함수처럼 두 개 이상의 함수가 묶여있는 경우 괄호 안쪽부터 해석한다.

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
# 정수 진법별 접두사
# 2진수 (0, 1) : 0b
# 8진수 (0 ~ 7) : 0o
# 16진수 (0 ~ 15) : 0x

a = 100
print(a)

b = 0o23
print(b)

c = 0xff
print(c)

100
19
255

In [ ]:
# 정수의 최댓값 확인

import sys
print(sys.maxsize)

9223372036854775807

In [16]:
# 지수 표현식
# 4.24e3 은 4.24 곱하기 10의 3승, 4.24e-3은 4.24 곱하기 10의 -3승

a = 4.24e3
b = 4.24e-3

print(a, b)
print(type(a), type(b))

4240.0 0.00424
<class 'float'> <class 'float'>

In [18]:
(complex(1, 2))

(1+2j)

In [19]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

13
7
30
3.3333333333333335

In [20]:
num3 = 10
num4 = 0.1

print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)

10.1
9.9
1.0
100.0

In [ ]:
#파이썬은 기본적인 사칙연산 외에도 몇 가지 계산을 위한 추가적인 함수를 제공한다.
#%는 mod와 동일한 역할을 수행한다.

num1 = 11
num2 = 7

print(num1 % num2)

4

In [ ]:
# //는 몫을 출력한다.

print(num1 // num2)

1

In [ ]:
# **은 제곱 연산을 실행한다.

base = 9
exponent = 2
result = base ** exponent

print(result)

81

논리자료형은 변수 작성시 첫 글자를 대문자로 작성해야한다.

In [ ]:
bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [37]:
# ==은 좌항과 우항의 값이 동일한지 비교한다. = 한개만 사용된 것은 변수 저장의 목적으로
# 사용되고 있으므로 이렇게 하는 듯. !는 컴퓨터 언어에서 부정의 의미를 나타낸다.

print(1 == 3)                            # False
print('ruby' != 'Ruby')                  # True
print(100 > 99)                          # True
print(100 < 99)                          # False
print(0 >= 1)                            # False
print(0 <= 1)                            # True

False
True
True
False
False
True

In [41]:
# 대문자는 아스키코드표 상에서 소문자에 비해 작은 수를 할당 받았다.

print("a" > "A")

True

and 연산자는 논리 자료형 전부가 True여야 True 결과를 출력한다.

In [ ]:
print(1 != 3 and 100 > 99 and True)       
print(1 != 3 and 100 > 99 and 100 < 99)

True
False

or 연산자는 논리 자료형 중 하나 이상 True여야 True 결과를 출력한다.

In [46]:
print(1 != 3 or 100 > 99 or True)        
print(1 != 3 or 100 > 99 or 100 < 99)    
print(1 == 3 or False or 100 < 99)

True
True
False

In [51]:
(100 > 99 and 99 > 98) or (100 < 99 and 99 < 98)

True

not 연산자는 우항에 있는 비교 연산 결과 또는 논리 자료형의 결과를 뒤집는다.

In [54]:
print(not "ruby" == "Ruby")
print(not "ruby" == "ruby")

True
False

큰따욤표나 작은따옴표를 사용하여 문자형 자료를 선언할 수 있다.

In [56]:
my_name = "ruby"

print("""
긴
문
자
열
은
따옴표 3개로 가능""")

긴
문
자
열
은
따옴표 3개로 가능

문자형 자료의 경우에도 연산자를 활용할 수 있다.

In [59]:
greeting = "반갑습니"
name = "다람쥐"

print(greeting + name)
print(greeting + "다. " + name + "입니다!")

반갑습니다람쥐
반갑습니다. 다람쥐입니다!

숫자형과 문자형을 임의로 조합해서 출력할 수 없다. 숫자로 된 문자를 출력하려면 숫자를 문자형의 자료로 선언할 필요가 있다.

In [62]:
name = "반갑꼬리"
print("900" + "살 " + name + "입니다.")

900살 반갑꼬리입니다.

*를 활용해 문자형 자료를 n번 반복하는 것이 가능하다.

In [64]:
subject = "파이썬"
print("무슨 일이든 시작 전에 세 번만 외쳐보자. " + ("나는 " + subject + "을 잘할 수 있다!")*3)

무슨 일이든 시작 전에 세 번만 외쳐보자. 나는 파이썬을 잘할 수 있다!나는 파이썬을 잘할 수 있다!나는 파이썬을 잘할 수 있다!

메서드란 문자열을 지원하는 도구이다. 외워서 일괄적으로 사용하기 보다는 필요할 때 검색해서

 활용하는 경우가 많다.

In [ ]:
enrole_date = "2025/11/25"
rep_enrole_date = enrole_date.replace("/", "-")

rep_enrole_date

#replace는 특정 문자열을 다른 문자열로 치환할 때 활용한다.

'2025-11-25'

strip 메서드는 문자 양 끝의 제시된 문자를 제거한다.

lstrip은 왼쪽만, rstrip은 오른쪽만 제거한다.

In [75]:
origin = "ruby"
with_white_space = "      ruby      "

print(with_white_space.strip())

ruby

In [125]:
origin = "ruby"
with_white_space = "      ruby      "

print(with_white_space.strip("r "))

"""
두 글자 이상의 문자를 strip() 괄호 안에 입력 시 그 중 하나가 조건에 맞으면 삭제,
조건에 맞지 않을 경우 실행을 멈추는 것으로 보임.
"""

uby

'\n두 글자 이상의 문자를 strip() 괄호 안에 입력 시 그 중 하나가 조건에 맞으면 삭제,\n조건에 맞지 않을 경우 실행을 멈추는 것으로 보임.\n'

In [ ]:
origin = "ruby"
with_white_space = "      ruby      "

print(origin.strip("ub"))

#ub가 ruby의 양 끝이 아니므로 문자열의 제거가 일어나지 않는다.

ruby

In [84]:
origin_str = 'hELLO wORLD!'

print(origin_str.upper())         # HELLO WORLD!
print(origin_str.lower())         # hello world!
print(origin_str.capitalize())    # Hello world!
print(origin_str.swapcase())      # Hello World!
print(origin_str.title())         # Hello World!

HELLO WORLD!
hello world!
Hello world!
Hello World!
Hello World!

In [ ]:
x = 10
print("x is %d" %x, y)

y = "code"
print("y is %s" %y)

"""
가장 아래 문장의 %s 를 %d 로 바꿔 실행하는 경우 오류가 발생한다.
반면 위의 문장의 %d 를 %s 로 바꿔 실행하는 경우는 정상적으로 작동한다.
숫자형에서 문자형의 변환 >> 가능, 문자형에서 숫자형의 변환 >> 불가능 한 것으로 추정
"""

x is 10 code
y is code

In [102]:
x, y = 10, "code"

print("x is {0}, y is {1}".format(x,y))

print("x is {x} and y is {y}".format(x=x,y=y))

x is 10, y is code
x is 10 and y is code

In [ ]:
teacher_name = "카피바라"

print(f"안녕하세요. 오늘부터 여러분과 함께 공부할 {teacher_name} 강사입니다.")

# f-stirng : 문자열 구성 중 변수를 활용하고 싶을 때 주로 사용하는 메서드이다.

안녕하세요. 오늘부터 여러분과 함께 공부할 카피바라 강사입니다.

In [112]:
True + 3

1+1

repr(True + 3)

'4'

In [122]:
"banana".strip("ba")

'nan'

형 변환에는 암시적 형 변환과 명시적 형 변환이 있다.

In [ ]:
print(True + 1)
print(3 + 5.0)

print(type(True + 1))
print(type(3 + 5.0))

2
8.0
<class 'int'>
<class 'float'>

In [ ]:
print(int("3"))

print(int("3") + 4)

# 아래 문장은 일반적으로는 불가능한 문자형 + 숫자형 자료를 계산하게 해준다.

3
7

In [135]:
print("100")

print(float("100"))

print(type(float("100")))

100
100.0
<class 'float'>

In [ ]:
print(str(1))            
print(str(1.0))          
print(str({1, 2, 3}))

1
1.0
{1, 2, 3}

In [137]:
print(list("ruby"))

['r', 'u', 'b', 'y']

True